/* COLORS*/
:root {
	--c-black: rgb(0, 0, 0);
	--c-black-light: rgb(42, 42, 42);
	--c-grey: rgb(146, 146, 146);
	--c-grey-light: rgb(211, 211, 211);
	--c-white: rgb(255, 255, 255);
	--c-blue-dark : rgb(19, 27, 41);
	--c-pink: #e81cff;
	--c-pink-2: #f2a1ff;
	--c-pink-3: #fbd4ff;
	--c-blue-light: #40c9ff;
	--c-teal: #00CEC9;
	--c-teal-dark: #1f6362;
	--c-surface: #16171A;

	--text-color: var(--c-white);
}

/*CUSTUM FONTS*/
@font-face {
	font-family: Avenir;
	src: url(./fonts/AvenirLTStd-Roman.otf);
}

@font-face {
	font-family: Oswald;
	src: url(./fonts/Oswald-VariableFont_wght.ttf);
}

@font-face{
	font-family: Overpass;
	src: url(./fonts/OverpassMono-Regular.ttf);
}
