/* COLORS*/
:root {
	--c-black: rgb(0, 0, 0);
	--c-black-light: rgb(42, 42, 42);
	--c-grey: rgb(146, 146, 146);
	--c-grey-light: rgb(211, 211, 211);
	--c-white: rgb(255, 255, 255);
	--c-blue-dark : rgb(19, 27, 41);
	--c-pink: rgb(233, 58, 166);
	--c-blue-light: #40c9ff;

	--text-color: var(--c-white);
}

/*CUSTUM FONTS*/
@font-face {
	font-family: Avenir;
	src: url(./fonts/AvenirLTStd-Roman.otf);

/* 	font-family: Overpass;
	src: url(./fonts/OverpassMono-Regular.ttf); */
}