@import './base.css';

* {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--c-grey);
		border-radius: 8px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb:hover,
	&::-webkit-scrollbar-thumb:active {
		background-color: transparent;
	}
	&::-webkit-scrollbar-track:hover,
	&::-webkit-scrollbar-track:active {
		background-color: transparent;
	}
}

*,
*::before,
*::after { 
	margin: 0;
	padding: 0;
}

*, a {
	font-family: Avenir, Arial;
	color: var(--text-color);
	text-decoration: none;
}

html, body, #app {
	height: 100%;
	overflow: hidden;
}

html {
	font-size: 62.5%; 
}

body {
	font-size: 1.6rem;
}

div {
	display: block;
}

input {
	outline: none;
	background-color: transparent;
}