@import './base.css';

*,
*::before,
*::after { 
    margin: 0;
    padding: 0;
}

*, a {
	font-family: Avenir, Arial;
	color: var(--text-color);
	text-decoration: none;
}

html, body, #app {
	height: 100%;
}

html {
	font-size: 62.5%; 
}

body {
	font-size: 1.6rem;
}

div {
	display: block;
}

input {
	outline: none;
	background-color: transparent;
}