@import './base.css';

*,
*::before,
*::after { 
    margin: 0;
    padding: 0;
}

*, a {
	font-family: Avenir, Arial;
	color: var(--text-color);
	text-decoration: none;
}

html, body, #app {
	height: 100%;
}

div {
	display: block;
}